html {
   margin: 0px;
   height: 100%;
   width: 100%;
}
body {
	font-family: "Lucida Console";
	font-weight:18px;
	background-image: url(img/bg.png);
	background-repeat: repeat-x;
	background-size: auto;
	background-color: rgb(5,0,45);
	color:white;
	width: 100%;
	height: 100%;
	margin: 0;
}
section * {
	display:block;
	margin: 0 auto;
}
#phone {
	width: 500px;
	height: 800px;
}
section {
	width: 100%;
}
#section_head {
	height: 200px;
}
#section_body {
	height:400px;
}
#section_footer {
	height:200px;
}
#logo {
	padding-top:10px;
	padding-left:10px;
	height:100px;
	display: inline-block;
	vertical-align: top;
}
#logo img {
	float: left;
    max-width: 100%;
    max-height: 100%;
}
ul {
	display: inline-block;
	font-size:21px;
	    padding-top: 51px;
    padding-right: 124px;
}
ul li {
	display:inline-block;
}
li * {
	display: inline-block;
}
ul a {
	color:white;
	text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#reg {
	text-align: center;
    padding-top: 40px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: 13px;
}
.standard {
	width: 100%;
}
.big {
	height:270px;
	padding-top:30px;
}
#slogan {
	text-align: center;
	line-height: 50px;
	font-style: bold;
	font-size:17px;
}
#wave {
	height: 100%;
	width: 100%;
}
label {
	text-align: center;
	margin-bottom:5px;
}
input[type=text], input[type=password] {
  width: 40%;
  text-align: center;
  padding: 5px 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 20%;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.sm {
	display:inline-block;
	height:80px;
	width: 80px;
}
#redes {
	text-align: center;
}
#redes a {
	display: inline-block;
}
.aux {
	height:80px;
	padding: 30px 0px;
}
#foot {
	text-align: center;
	color:white;
}
.floatRight{
	float:right;
}
.icon {
	height:20px;
	width: 20px;
}
#sub {
	padding: 10px;
    border-radius: 20px;
    background-color: darkred;
    text-shadow: 3px 2px 5px black;
}
#submenu {
	margin:0 auto;
	display:block;
	text-align:center;
}
.padLeft {
	padding-left:200px;
}
.padRight {
	padding-right:200px;
}
.searchbar input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	width: 420px;
	border: none;
	margin-right: -3px;
}

.searchbar button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.searchbar button:hover {
	background: #ccc;
}
.banner {
	width: 100%;
}
.banner img {
	width: 100%;
}
.imgcont {
	height:225px;
	width: 225px;
	float:left;
}
.imgcont img {
	height:100%;
	width: 100%;
}
.space50 {
	height:50px;
}
.playcont {
	float:right;
	cursor: pointer;
}
.playcont:hover {
	background: gray;
}
.playcont img {
	display: block;
	margin: 30px 90px;
	height: 120px;
	width: 120px;
}
#musiclist li {
	background-color: darkgray;
    margin-bottom: 10px;
    width: 1300px;
}
.infocont {
	min-width: 555px;
	text-align: left;
	float: left;
    margin-left: 50px;
}
.textCenter{
	text-align: center;
}
.imgcont {
	vertical-align: super;
}
.info {
	line-height: 37px;
}
.heart {
	color:red;
	padding: 0px 5px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0092b0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: slategray; 
}
.sliding {
	width: 100%;
	height:540px;
	cursor: pointer;
}
.slide_button {
	border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    color: #fff!important;
    background-color: #000!important;
    font-size: xxx-large;
}
.slide_left {
	position: absolute;
    top: 64%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}
.slide_right {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	position: absolute;
    top: 64%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}
.separador {
	width:50px;
}
@media only screen and (max-width: 1293px) {
	#musiclist {
		padding-right: 0;
		padding-left:0;
	}
	#musiclist li {
		width: 100%;
	}
	.padRight, .padLeft {
		padding:0;
	}
	#usermenu {
		padding-right: 0;
	}
}